/* Global Resets */

:root {
  font-size: 10px;
}

html {
  margin: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

/* General Setup */

body {
  font-family: 'Segoe UI',-apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: white;
  line-height: 1.6;
  text-decoration: none !important;
  border: none !important;
}

/* Global Colors */

/* Typography */

h1, h2 , h3, h4, h5 {
  line-height: 1.2rem;
  font-weight: 600;
  font-family: monospace,-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

h1 {
font-size: 5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.6rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

